.background-section {
    background-image: url('../assets/fondo.webp'); /* Ajusta la ruta según la ubicación de la imagen */
    background-size: cover; /* Asegura que la imagen cubra toda la sección */
    background-position: center; /* Centra la imagen */
    display: flex; /* Usar flexbox para el centrado */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Establece la altura de la sección al 100% de la ventana */
    text-align: center; /* Asegura que el texto esté centrado dentro del flexbox */
    color: white; /* Establece el color del texto */
    flex-direction: column; /* Asegura que los elementos hijos se coloquen en una columna */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.background-section h1 {
    width: 100%;
    font-size: 4rem; /* Ajusta según necesites */
    margin-bottom: 20px; /* Añade margen inferior para separar el h1 del p */
}

.background-section p {
    width: 100%;
    font-size: 2rem; /* Ajusta según necesites */
}

.about-us-section {
    background-color: #f0f0f0; /* Color de fondo gris */
    padding: 5rem; /* Espacio interno */
    border-radius: 8px; /* Bordes redondeados (opcional) */
    text-align: center; /* Asegura que el texto esté centrado */
    justify-content: center;
    height: 70vh;
}

.about-us-section h3{
    font-weight: bold; /* Hace el texto más grueso */
    margin: 15px;
    font-size: 2.2em;
}

.texto {
    width: 50%; /* Ancho del 60% */
    margin: 2em auto; /* Centra el div en su contenedor */
    font-size: 20px;
    color: #620375;
}

.opening-hours-row {
    height: 50vh; /* Asegúrate de que la fila ocupe toda la altura del contenedor */

}

.opening-hours-row h2 {
    font-size: 1.8em; /* Ajusta según necesites */
    margin: 20px; /* Añade margen alrededor del h3 */
}


.text-purple {
    color: #620375; /* Color morado */
}

/* Opcional: color morado más oscuro para el hover */
.text-purple:hover {
    color: #4e0249; 
}

.contact-info {
    padding-right: 20px; /* Espacio entre columnas (ajusta según necesites) */
}

.text-purple {
    color: #620375; /* Color morado */
}

/* Estilos adicionales para el formulario */
form {
    background-color: #f9f9f9; /* Color de fondo del formulario */
    padding: 20px; /* Espacio interno del formulario */
    border-radius: 8px; /* Bordes redondeados para el formulario */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.btn-primary {
    background-color: #620375; /* Color de fondo del botón */
    border: none; /* Sin borde */
}

.btn-primary:hover {
    background-color: #4e0249; /* Color de fondo del botón al pasar el mouse */
}

.contact{
    background-color: #f0f0f0; /* Color de fondo gris */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem; /* Espacio interno */
}