/* Estilo para el contenedor de la valoración */
.valoracion-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 100vh;
    align-items: center;
}

/* Estilo para la tarjeta de valoración */
.valoracion-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
}

/* Estilo del título */
.titulo {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: #54146c;
}

/* Estilo de los elementos de los platos */
.plato-item {
    margin-bottom: 20px;
}

/* Estilo del nombre de los platos */
.plato-nombre {
    font-size: 20px;
    font-weight: 500;
    color: #54146c;
}

/* Estilo de las estrellas */
.rating {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.star {
    font-size: 24px;
    color: #ddd;
    border: none;
    background: none;
    cursor: pointer;
}

.star.selected {
    color: gold;
}

.comentario-field {
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    border: 1px solid rgb(190, 95, 225);
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.comentario-field:focus {
    border: 1px solid rgb(190, 95, 225);
    outline: none;
}

.no-platos {
    text-align: center;
    color: #888;
}

/* Estilo del botón de enviar valoraciones */
.enviar {
    width: 100%;
    margin-top: 20px;
    background-color: #414F7F;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Cambio de color del botón al pasar el cursor por encima */
.enviar:hover {
    background-color: #353f6a;
}

@media (max-width: 768px) {
    .valoracion-card {
        padding: 10px;
    }

    .titulo {
        font-size: 20px;
    }

    .plato-nombre {
        font-size: 18px;
    }

    .rating {
        gap: 3px;
    }

    .star {
        font-size: 20px;
    }

    .comentario-field {
        padding: 5px;
    }

    .enviar {
        font-size: 14px;
    }
}